.img1{
  display: block;
  margin: 20px auto;
  width:1150px;
  height: 600px;
}
.head{
  background-color: #303030;
}
.body1{
  background-color: #373737;
  color:#fff;
}
hr{
  width:600px;
  height:2px;
  border-color:#fff;
}
footer{
text-align: center;}
